[submodule "bancho"]
	path = bancho
	url = git@github.com:kingdom5500/bancho.py.git
[submodule "web"]
	path = web
	url = git@github.com:kingdom5500/web.bancho.py.git
[submodule "discord"]
	path = discord
	url = git@github.com:kingdom5500/discord.bancho.py.git
[submodule "osu-skrungly-api"]
	path = api
	url = git@github.com:skrungly/osu-skrungly-api.git
